/* Write your CSS code here. */
.app-container {
  background-image: linear-gradient(#ffeeee, #ffc0bb);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback-container {
  height: 400px;
  width: 400px;
  border-radius: 10px;
  background-color: white;
  color: black;
  text-align: center;
}
.emijos-container {
  display: flex;
  flex-direction: row;
}
.emijo-image {
  height: 40px;
  width: 40px;
}

.each-emijo {
  padding: 10px;
  margin: 5px;
  color: black;
  list-style: none;
}
.btn-style {
  background-color: white;
  border-color: white;
}
